.md.calendar-source {

    ul {
        @extend %reset;

        &.func  {

            li {

                + li {
                    margin-top: $interval-xs;
                }
            }

            button {
                display: block;
                width: 100%;
            }

            &:after {
                @extend %clear;
            }
        }

        &.list {
            margin-top: $interval-xs;

            li {
                @extend %card;
                position: relative;
                padding: $interval-s $interval-m;
                padding-right: 30px;

                + li {
                    margin-top: $interval-xs;
                }

                &:hover {

                    /*a*/.set {
                        display: block;
                    }
                }
            }

            /*.cp*/.input {
                max-width: 100%;
                overflow: hidden;
                font-size: $font-size-s;

                span {
                    padding-left: $interval-xs;
                    color: $deep;
                }
            }

            /*a*/.set {
                display: none;
                position: absolute;
                top: 50%;
                margin-top: -14px;
                right: 8px;
                cursor: pointer;

                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}
